@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.welcome-section {
    width: 100vw;
    height: 100vh;
    background: url('https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
    background-size: cover;
    background-position: 20%;
    padding-top: 16em;
    display: block;

    &__btn {
        text-align: center;
        margin-top: 3em;

        button {
            padding: 1em 3em;
            border: 2px solid #FFF;
            color: #000;
            font-weight: 600;
            cursor: pointer;
        }

        button:hover {
            transition-duration: .3s;
            background-color: rgba(255, 255, 255, 0.3);
            color: #FFF;
        }



    }


    &__frame {
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7em;
        height: 5em;
        border: 1px solid #FFF;
        font-size: 48px;
        color: #FFF;
        font-weight: 400;
        text-align: center;
    }

}

.section {
    width: 100vw;
    font-family: Roboto, sans-serif;

    &__wrapper {
        display: flex;
        flex-direction: column;
        background-color: rgb(108, 175, 77);

        & > div:first-child {
            padding: 5em 0px 9em 0px;
        }

        &__header {
            font-size: 32px;
            color: #FFF;
            text-align: center;
        }
    
        &__container {
            width: 80%;
            margin: auto;
            margin-top: 2em;
            line-height: 1.4em;
    
            &__content {
                color: #FFF;
                text-align: justify;
                text-indent: 2em;
        
            }
        }

        &__img {

            img {
                display: block;
                width: 100%;
            }
        }
        
    }
}

.contact {
    .section__wrapper {
        background-color: rgb(36, 33, 41);

        &__container__content {
            text-align: center;
        }
    }
}

footer {
    width: 100vw;
    height: 13em;
    background-color: rgb(73, 52, 45);
    color: #FFF;
    text-align: center;
    padding-top: 3em;

    p {
        font-family: Roboto;
    }
}

@media only screen and (min-width: 800px) {
    .section {
    }
    .section__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        
        & > div:first-child {
            width: 40%;
        }

        &__img {
            max-width: 30%;
            display: flex;
            align-items: center;
        }

        .section__wrapper__container {

        }
    }

}